* {
	box-sizing: border-box;
	margin: 0;
}
html {
  scroll-behavior: smooth;
}
#root {
	background: #6190E8;  
  background: -webkit-linear-gradient(to right, #6190E8, #A7BFE8); 
  background: linear-gradient(to right, #6190E8, #A7BFE8);
}

nav {
	font-family: "Cera Round Pro DEMO Regular", sans-serif;
	position: fixed;
	top: 0;
	left: 0;
  height: 100px;
  padding: 10px;
	width: 100%;
	backdrop-filter: blur(4px);
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
}

nav a  {
	color: #01050E;
	text-decoration: none;
	font-weight: 800;
	font-size: 20px;
	border-radius: 8px;
	margin-left: 22px;
}
.info:hover {
	color: #FFFAFA;
	text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

nav h1 {
	font-size: 35px;
	font-weight: 800;
	margin-left: 20px;
  white-space: nowrap;
}
nav img {
	margin-left: 20px;
}

.sign-in {
	background-color: white;
	color: black;
	font-weight: bold;
	padding: 4px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
.sign-in:hover {
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.tres-barras-container {
  display: flex;
  flex-direction: column; 
  margin-left: 20px;
  height: 25px;
  width: 30px;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;  
}
.barra {
  margin: 2px auto;
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 5px;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: grid;
  justify-content: center;
  flex-direction: column;
}
section {
	font-family: "Cera Round Pro DEMO Regular", sans-serif; 
	padding: 100px 0 20px 0;
	display: flex;
	flex-direction: column;
  box-sizing: border-box;
}

#section1 {
	color: #e0ebeb;
}
#section1 div{
	margin: 10px 0 10px 0;
	font-size: 19px;
}

#section2 {
	overflow: hidden;
  height: fit-content;
}

.card {
	display: flex;
	align-items: center;
	flex-direction: column;
  text-align: center;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);           
}
.card-container {
  display: grid;
  gap: 20px 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center; 
  justify-items: center;
}
.card p {
  display: flex;
  justify-content: center;
  align-items: center;
	font-size: 14px;
	padding: 10px;
}
.shadow {
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#section3 {
	color: #e0ebeb;
}
#section3 div {
	font-size: 18px;
	margin-top: 5px;
}
#section3 h1 {
	margin-bottom: 5px;
}
#section3 h2 {
	margin-top: 8px;
}
#section4 {
	color: #e0ebeb;
	display: flex;
  width: fit-content;
}
#section4 div {
	margin: 10px 0 8px 0;
	font-size: 20px;
}

#section4 input {
	height: 22px;
  border-radius: 4px;
}

#section4 button {
	height: 22px;
  font-family: "Cera Round Pro DEMO Regular", sans-serif;
  border-radius: 3px;
  cursor: pointer;
}

.field {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 0px) {
  nav a {
    display: none;
  }
  nav h1 {
    font-size: 25px;
    white-space: nowrap;
  }
  nav img {
    margin-left: 10px;
  }
  .tres-barras-container {
    display: flex;
  }
}


@media screen and (min-width: 300px) {
  nav a {
    display: none;
  }
  nav h1 {
    font-size: 25px;
    white-space: nowrap;
  }
  nav img {
    margin-left: 10px;
  }
  .tres-barras-container {
    display: flex;
  }
}


@media screen and (min-width: 650px) {
  nav a {
    display: flex;
  }
  nav h1 {
    font-size: 35px;
  }
  .tres-barras-container {
    display: none;
  }
  nav img {
    margin-left: 20px;
  }
  .card {
    width: 300px;
    height: 250px;
  }
}


